.phaseimageHeader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  z-index: -1;
}

.phasetitle {
  height: 17vh;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  margin: 0;
}

.card-container {
  margin-top: 5vh;
  width: 60vw;
  height: 90vh;
  max-width: 800px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.5);
  text-align: left;
  animation: slide-up 0.5s;
}
.comments-container {
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}
.new-comment-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: royalblue;
}
.comment-box {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  height: 20%;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
}
.phaseinput {
  border: 1px solid #101010 !important;
  margin-bottom: 1vh;
}
.cphaseallforaction {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
}

.phasedown-arrow:hover {
  animation: shake 0.8s infinite;
}
.coment {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: auto auto;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
}
.vote-button-container {
  display: flex;
  justify-content: center;
}
.vote-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 1px;
  border-radius: 50%;
  background-color: transparent;
}
.vote-button img {
  transform: scale(0.7);
  transition: ease-in-out 5ms;
}
.vote-button-like:hover {
  background-color: #34cc2e;
}
.vote-button-dislike:hover {
  background-color: #cc261a;
}
.vote-button-liked {
  background-color: #34cc2e;
}
.vote-button-disliked {
  background-color: #cc261a;
}

@keyframes shake {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 768px) {
  .phaseimageHeader {
    display: none;
  }
  .down-arrow {
    display: none;
  }
  .card-container {
    margin-top: 0px;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
  }
  .phases {
    transition: 2ms;
  }
  @keyframes slide-up {
    0% {
      opacity: 1;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
