@media (min-width: 768px) {
  .imageHeader {
    width: 100%;
    height: auto;
    max-height: 100vh;
    z-index: -20;
  }
  .title {
    margin: -10vh;
    margin: 0;
    font-size: 2rem;
    font-weight: 600;
    color: "white";
  }
  .textContent {
    margin-top: 45vh;
    padding: 15px;
    max-width: 800px;
    background: #ffffff;
  }
}
